.faq {
  background-color: white;
  padding: 1rem 0;
  .question {
    display: flex;
    flex-direction: column;

    img {
      width: 100vw;
      height: 180px;
      object-fit: cover;
      object-position: center 20%;
    }
    .textQuestion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.5rem 1rem;
      gap: 1rem;

      hgroup {
        h4 {
          color: #263238;
          font-family: "Open Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 800;
          line-height: 24px; /* 120% */
          text-transform: uppercase;
          width: 300px;
        }
        p {
          color: #263238;
          font-family: "Open Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          max-width: 540px;
        }
      }
      div {
        .ctaQuestion {
          color: #263238;
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 800;
          line-height: 16px;
          text-transform: uppercase;
          width: 90%;
        }
        a {
          text-decoration: none;
          color: #59e4a9;
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 800;
          line-height: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .faq {
    border-top: #59e4a9 4px solid;
    background-color: white;
    padding: 0;
    .question {
      display: flex;
      flex-direction: row;

      img {
        height: 100%;
        max-height: 40vh;
        width: 50vw;
      }
      .textQuestion {
        margin: 0 2rem;
        gap: 1rem;

        hgroup {
          h4 {
            width: 405px;
            padding: 1rem 0;
          }
        }
        div {
          padding: 1rem 0;
          .ctaQuestion {
            color: #263238;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 16px;
            text-transform: uppercase;
            width: 90%;
          }
          a {
            text-decoration: none;
            color: #59e4a9;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 16px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .faq .question:nth-child(even) {
    flex-direction: row-reverse;
  }
}
